{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_errors(userForm) }}

	<div class="border border-secondary rounded p-3 w-75 m-auto mt-5">

		{{ form(userForm) }}
		</div>
	{% endblock %}