<div class="fixed-bottom mb-3">
	<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header d-flex justify-content-between">
			<div>
				<strong class="mr-auto text-{{ label }}">Notification</strong>
				<small class="pl-2">à l'instant</small>
			</div>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			{{ message }}
		</div>
	</div>
</div>